.items {
  display: flex;
  gap: 3rem;
}

.item {
  width: 18rem;
  height: 24rem;
  border: 0.3rem solid #bbbbbb;
  font-size: 2.5rem;
  font-weight: bolder;
  border-radius: 0.3rem;
  position: relative;
  background-size: cover;
  color: #bbbbbb;
}

.item:hover {
  color: #53c28b;
}

.item:nth-child(1) {
  background-image: url("/images/illustration.png");
}

.item:nth-child(2) {
  background-image: url("/images/websites.jpg");
}

.item:nth-child(3) {
  background-image: url("/images/apps.jpg");
}

.pageTitle {
  font-size: 6.25rem;
}

.title {
  position: absolute;
  bottom: 0.6rem;
  right: 0.6rem;
}

.sectionTitle {
  color: #53c28b;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 6rem;
}
