.container {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  gap: 3rem;
}

.image {
  object-fit: cover;
}

.title {
  margin-bottom: 0.6rem;
}

.description {
  font-size: 1.1rem;
  color: #999999;
}
